*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: cornflowerblue;
    height: 5rem;
}

header .logoHeader{
    align-items: center;
    display: flex;
}

header .logoHeader img{
    height: 80px;
    width: 80px;
}

body{
    background-color: aliceblue;
}
body #titulo{
    justify-content: center;
    display: flex;
}

body .cardContainer{
    padding: 50px;
    flex-wrap: wrap;
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: space-between;
    padding: 10px;
}

body .cardContainer .card{
    width: 30rem;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
}

body .cardContainer .card p {
    height: 50px;
}
.precio{
    display: flex;
    justify-content: center;
}


.boton-volver a {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    margin: 5px;
    text-decoration: none;
    border-radius: 4px;
    width: 220px;
    height: 25px;
    text-align: center;
}

.boton-volver a:hover {
    background-color: #072a49;
}




